/* 
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Oswald', sans-serif;
 */

#startButton {
    display: flex;
    width: 200px;
    text-align: center;
}

header {
    margin: 30px;
}

#title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    text-align: center;
}

.instructions {
    text-align: center;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    width: 500px;
}

.startingPage {
    display: flex;
    flex-direction: column;
}

p {
    color: black; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    /* text-align: center; */
}

.answers {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.question {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    color: red;
    flex-direction: column;
    font-size: 35px;
}

button.answers {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    /* width: 100px; */
    text-align: center;
}


#quiz {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.round {
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.tracker {
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    flex-direction: column;
}

#timer {
    font-family: 'Open Sans Condensed', sans-serif;
}

#playAgain {
    display: flex;
    margin: 10px;
}

.total {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    margin: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
    text-align: center;
}

#youGotItRight, #youGotItWrong {
    font-family: 'Oswald', sans-serif;
    font-size: 8px;
    text-align: center;
    background: #00001150;
}

i {
    font-size: 40px;
}

.round-image {
    height: 250px;
}